ul,
ol,
dl,
p,
h1,
h2,
h3,
h4,
h5,
h6,
address,
form,
table,
blockquote,
applet,
embed,
object,
iframe,
frameset {
  margin: 0 0 $vertical-rhythm;
}

blockquote {
  border-left: 4px solid $base-color-1;
  padding: 22px 44px 10px;
  margin: 0 0 23px;
  background: #fff;
  font-size: 16px;
  line-height: 1.6;

  @include media("<tablet") {
    padding: 22px 30px 10px;
  }

  @include media("<phone") {
    padding: 10px 20px;
  }

  p {
    margin: 0 0 12px !important;
  }
}

th,
td {
  border: 1px solid $gray;
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

th {
  text-align: center;
  vertical-align: middle;
}

ul,
ol {
  padding-left: 28px;

  @include media("<phone") {
    padding-left: 20px;
  }
}

ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 3em;
  margin: 0;
}

ul {
  @extend %listreset;

  li {
    margin: 0 0 5px;
    position: relative;

    @include media("<phone") {
      margin: 0;
    }
  }
}

dl {
  @extend %clearfix;
  dt {
    float: left;
    clear: left;
    padding-right: 0.3em;
    font-weight: bold;
  }
  dd {
    overflow: hidden;
  }
}

pre {
  max-width: 100%;
}
