@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?l8ztka");
  src: url("../fonts/icomoon.eot?l8ztka#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?l8ztka") format("truetype"),
    url("../fonts/icomoon.woff?l8ztka") format("woff"),
    url("../fonts/icomoon.svg?l8ztka#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp-2:before {
  content: "\e91f";
}
.icon-telegram:before {
  content: "\e920";
}
.icon-date:before {
  content: "\e91c";
}
.icon-eye-viewers:before {
  content: "\e91d";
}
.icon-eye-pass:before {
  content: "\e916";
}
.icon-map:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e919";
}
.icon-serch-thin:before {
  content: "\e91a";
}
.icon-plus-bold:before {
  content: "\e91b";
}
.icon-arrow-thin-left:before {
  content: "\e911";
}
.icon-arrow-thin-right:before {
  content: "\e912";
}
.icon-arr-left-sm:before {
  content: "\e900";
}
.icon-arr-right-sm:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e90b";
}
.icon-login:before {
  content: "\e90c";
}
.icon-whatsapp:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-clock:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e909";
}
.icon-list_bullets:before {
  content: "\e921";
}
.icon-360-deg:before {
  content: "\e917";
}
.icon-short_arrow_top:before {
  content: "\e910";
}
.icon-short_arrow_right:before {
  content: "\e913";
}
.icon-short_arrow_left:before {
  content: "\e914";
}
.icon-short_arrow_bottom:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e904";
}
