
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7px;
  color: $gray;
  border: 1px solid #f7f7f7;
  font-family: "icomoon" !important;
  z-index: 5;

  &.slick-hidden {
    display: none;
  }

  &.slick-prev {
    &:before {
      content: "\e911";
    }
  }

  &.slick-next {
    &:before {
      content: "\e912";
    }
  }

  &:hover,
  &:active {
    box-shadow: 0 0 5px rgba(black, 0.2);
  }
}

.slick-dots {
  @extend %listreset;
  display: flex;
  justify-content: center;

  li {
    margin: 0 4px;
  }

  button {
    font-size: 0;
    padding: 0;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #163da2;
    transition: 0.3s all;

    &:hover,
    &:active {
      background: $base-color-2;
    }
  }

  .slick-active button {
    background: $base-color-2;
  }
}
