// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  font-family: $headings-font-family;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: $gray;

  a {
    color: $gray;
  }
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: 1.22;
  margin: 0 0 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  @include media("<widescreen") {
    font-size: 38px;
  }

  @include media("<desktop") {
    font-size: 34px;
  }

  @include media("<tablet") {
    font-size: 30px;
  }

  @include media("<phone") {
    font-size: 28px;
    margin: 0 0 35px;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;

  @include media("<tablet") {
    font-size: 25px;
  }

  @include media("<phone") {
    font-size: 20px;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
  margin: 0 0 23px;
}

h5,
.h5 {
  font-size: $h5-font-size;
}

h6,
.h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1.2em;
}
