.app-section {
  .container {
    padding: 15px 30px;
    max-width: 1440px;

    @include media("<desktop") {
      padding: 15px 20px;
    }
  }

  .bg-holder {
    background: $base-color-4;
    display: flex;
    align-items: flex-start;
    padding: 54px 7% 70px;

    @include media("<widescreen") {
      padding: 50px 20px;
    }

    @include media("<tablet") {
      display: block;
      padding: 45px 16px;
    }

    @include media("<phone") {
      padding: 40px 16px 26px;
    }
  }

  .slogan {
    color: $base-color-1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    max-width: 520px;
    margin: 0 0 45px;

    @include media("<desktop") {
      margin: 0 0 30px;
    }
  }

  .img-holder {
    max-width: 260px;
    flex-shrink: 0;
    padding: 5px 5px 0;
    width: 100%;
    margin: 0 60px 0 0;
    position: relative;
    border-radius: 40px;
    overflow: hidden;

    @include media("<desktop") {
      margin-right: 30px;
    }

    @include media("<tablet") {
      margin: 0 auto 30px;
    }

    &:before {
      content: "";
      position: absolute;
      background: url(../img/rectangle-slider.png);
      background-size: 100% 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  .app-img-slider,
  .slick-list,
  .slick-slide {
    border-radius: 36px;
    overflow: hidden;
  }

  .h1 {
    margin: 0 0 15px;

    @include media("<phone") {
      font-size: 24px;
    }
  }

  ul {
    @extend %listreset;
    margin: 0 0 15px;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      position: relative;
      padding: 0 38px 30px;

      @include media("<desktop") {
        width: 100%;
        padding: 0 0 10px 38px;
      }

      &:before {
        content: "\e90a";
        font-size: 18px;
        font-family: "icomoon";
        position: absolute;
        top: -2px;
        left: 0;
        color: $base-color-1;
      }
    }
  }

  .head-text {
    color: #000;
    margin: 0 0 20px;
  }

  .bottom-text {
    color: #2c2c2c;
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 20px;
  }

  .btn-holder {
    display: flex;

    a {
      &:hover,
      &:active {
        opacity: 0.8;
      }

      &:first-child {
        margin-right: 30px;

        @include media("<phone") {
          margin-right: 10px;
        }
      }
    }
  }

  &.black-mode {
    color: #fff;

    .bg-holder {
      background: #151515;
    }

    .h1,
    .bottom-text {
      color: #fff;
    }
  }
}
