.device-section {
  font-size: 16px;
  letter-spacing: 1px;
  color: $gray;
  padding: 50px 0;

  @include media("<tablet") {
    padding: 15px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include media("<desktop") {
      align-items: flex-start;
    }

    @include media("<tablet") {
      flex-direction: column;
    }
  }

  .h1 {
    margin: 0 0 30px;

    @include media("<phone") {
      margin: 0 0 15px;
    }
  }

  .text-holder {
    flex-grow: 1;
    max-width: 450px;
    margin: 0 5% 0 8%;

    @include media("<widescreen") {
      margin: 0 40px 0 0;
    }

    @include media("<desktop") {
      margin: 0 20px 0 0;
    }
    @include media("<tablet") {
      max-width: none;
    }

    @include media("<phone") {
      margin: 0;
    }
  }

  .slogan {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;

    @include media("<phone") {
      font-size: 17px;
    }
  }

  p {
    margin: 0 0 30px;

    @include media("<phone") {
      margin: 0 0 15px;
    }
  }

  ol {
    @extend %listreset;
    margin: 0 0 30px;

    @include media("<phone") {
      margin: 0 0 15px;
    }

    li {
      counter-increment: my-counter;
      &:before {
        counter-increment: section;
        content: counter(my-counter) " ";
      }
    }
  }

  ol {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px;
    font: 16px/1.5 $base-font-sans-serif;

    @include media("<phone") {
      margin: 0 0 20px;
    }

    li {
      padding: 0 50px 30px 28px;
      margin: 0;
      position: relative;

      @include media("<desktop") {
        padding-right: 0;
      }

      @include media("<phone") {
        margin: 0;
      }

      &:before {
        content: "\e90a";
        font-family: "icomoon" !important;
        color: $base-color-1;
        position: absolute;
        left: 0px;
        top: 0;

        @include media("<phone") {
          left: 4px;
          top: 0;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.25;
    padding: 0;

    li {
      position: relative;
      width: 50%;
      padding: 0 10px 11px 30px;

      @include media("<phone") {
        width: 100%;
        padding-left: 25px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        width: 7px;
        height: 7px;
        background: #40ac6c;
        border-radius: 50%;
      }
    }
  }

  .img-holder {
    max-width: 570px;
    padding: 160px 70px 0 0;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 456px auto;

    @include media("<widescreen") {
      background-size: 90% auto;
    }

    @include media("<desktop") {
      padding-right: 4%;
      display: flex;
      align-items: center;
      background-position: 100% 50%;
      min-width: 330px;
    }

    @include media("<tablet") {
      padding-top: 10px;
      max-width: 70%;
      background: none !important;
    }
  }

  .highlighting-gray {
    display: block;
    margin: 0 0 0 30px;
    padding: 13px 30px;
    background: $base-color-4;
    color: $gray;

    @include media("<phone") {
      margin: 0;
      padding: 10px 20px;
    }
  }
}
