#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #efefef;

  .navigation {
    margin: 0;
  }

  .work-time {
    font-size: 13px;
    color: $gray;
    display: block;

    @include media("<desktop") {
      display: none;
    }
  }

  .login_btn {
    display: flex;
    align-items: center;
    color: $gray;
    text-decoration: none;
    font-size: 14px;
    &:hover,
    &:active {
      color: $base-color-1;
    }

    i {
      margin: 0 8px 0 0;
    }
  }

  .mobile-hidden {
    @include media("<desktop") {
      display: none;
    }
  }
}

.header_contacts {
  padding: 13px 0;
  border-bottom: 1px solid #efefef;

  @include media("<phone") {
    padding: 10px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<desktop") {
      padding: 0 13px;
    }
  }

  .logo {
    display: none;

    @include media("<desktop") {
      display: block;
    }
  }

  &_list {
    @extend %listreset;
    display: flex;

    li {
      margin: 0 30px 0 0;

      @include media("<desktop") {
        margin: 0 17px 0 0;
      }
    }

    a {
      color: $gray;
      text-decoration: none;
      font-size: 13px;
      display: flex;
      align-items: center;

      &:hover,
      &:active {
        color: $base-color-1;
      }
    }

    i {
      margin-right: 8px;

      &.icon-whatsapp {
        color: $base-color-1;
      }
    }
  }

  &_right {
    display: flex;
    align-items: center;

    a {
      @include media("<desktop") {
        width: 36px;
        height: 36px;
        border-radius: 5px;
        justify-content: center;
        background: #efefef;
      }

      span {
        @include media("<desktop") {
          display: none;
        }
      }

      i {
        @include media("<desktop") {
          margin: 0 !important;
          font-size: 16px;
        }
      }
    }
  }
}

.header_menu_holder {
  @include media("<desktop") {
    position: absolute;
    right: -400px;
    width: 260px;
    top: 0;
    background: #fff;
    padding: 5px 18px;
  }

  @include media("<desktop") {
    height: 100vh;
    display: flex;
    overflow-y: auto;
  }

  .container {
    @include media("<desktop") {
      padding: 0;
    }
    @include media("<desktop") {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .mobile-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media("<desktop") {
        flex-direction: column;
        align-items: inherit;
        flex-grow: 1;
        justify-content: flex-start;
      }
    }
  }

  .header_menu {
    &_left {
      display: flex;
      align-items: center;

      @include media("<desktop") {
        display: block;
        order: 2;
      }
    }
    &_right {
      display: flex;
      align-items: center;

      @include media("<desktop") {
        padding: 70px 0 14px;
        justify-content: flex-end;
      }
    }
  }

  .logo {
    @include media("<desktop") {
      margin: 0 0 14px;
    }
  }
}

.mobile-menu-info {
  display: none;
  text-align: right;
  width: 100%;
  border-top: 1px solid #efefef;

  @include media("<desktop") {
    display: block;
    padding: 20px 0 13px;
    order: 3;
  }

  .work-time {
    @include media("<desktop") {
      margin: 0 0 10px;
      display: block !important;
    }
  }

  .header_contacts_list {
    display: block;

    li {
      margin: 0 0 10px;
    }

    a {
      justify-content: flex-end;
    }
  }

  .login_btn {
    justify-content: flex-end;
  }
}

.custom-cart {
  color: #000;
  display: flex;
  align-items: center;
  margin: 0 0 0 35px;

  @include media("<desktop") {
    margin: 0;
  }

  .cart-contents {
    color: #000;
    margin: 0 10px 0 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 23px;
    position: relative;
  }
  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: $base-color-1;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: -6px;
    right: -5px;
  }

  .item-holder {
    font-size: 16px;
    display: none;
    margin: 0 12px 0 0;

    @include media("<desktop") {
      display: block;
    }
    span {
      display: block;
      line-height: 1;
    }
    .item-counter {
      font-size: 13px;
      color: #a1a1a1;
    }
  }
}

.logo {
  max-width: 146px;
  display: flex;
  text-align: center;
  margin-right: 40px;
}

#nav {
  margin: 0;
}

.menu {
  @extend %listreset;
  display: flex;
  align-items: center;

  @include media("<desktop") {
    display: block;
    text-align: right;
    padding: 22px 0;
    width: 100%;
    border-top: 1px solid #efefef;
  }

  > li {
    margin: 0 15px;
    padding: 0 0 23px;
    margin-top: 25px;
    border-bottom: 2px solid transparent;
    transition: 0.3s border-bottom;

    @include media("<desktop") {
      margin-bottom: 25px;
      padding: 0;
      margin: 0 0 10px;
      border-color: transparent !important;
    }

    &:hover {
      border-color: $base-color-1;

      > a {
        color: $base-color-1;
      }
    }

    &:last-child {
      @include media("<desktop") {
        margin-bottom: 0;
      }
    }

    a {
      color: $gray;
      text-decoration: none;
      font-size: 16px;

      @include media("<desktop") {
        display: block;
        padding: 5px 0;
      }

      &:hover {
        color: $base-color-1;
      }
    }
  }

  .dropdown {
    position: relative;
    padding-right: 20px;

    @include media("<desktop") {
      padding-right: 15px;
    }

    &:before {
      content: "\e915";
      font: 700 13px/0 "icomoon" !important;
      position: absolute;
      right: 0;
      top: 13px;
      transform: translateY(-50%);
      color: $gray;
      transition: 0.3s all;

      @include media("<desktop") {
        top: 18px;
        font-size: 16px !important;
      }
    }

    &:hover {
      &:before {
        transform: rotate(180deg);

        @include media("<desktop") {
          transform: rotate(0);
        }
      }

      > a {
        @include media("<desktop") {
          color: $gray;
        }
      }

      .dropdown-menu {
        display: block;

        @include media("<desktop") {
          display: none;
        }
      }

      .menu-slider {
        left: 50%;
      }
    }

    &.active {
      > a {
        border-color: $base-color-1;

        @include media("<desktop") {
          border-color: transparent;
        }
      }
    }

    &.li-active {
      @include media("<desktop") {
        margin: 0;
      }
      .dropdown-menu,
      .sub-menu {
        @include media("<desktop") {
          display: block !important;
        }
      }

      @include media("<desktop") {
        &:before {
          transform: rotate(180deg);
          color: $base-color-1;
        }

        > a {
          color: $base-color-1;
        }
      }
    }
  }

  .dropdown-menu,
  .sub-menu {
    @extend %listreset;
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    z-index: 10;
    padding: 15px 25px;
    min-width: 200px;
    background: white;
    box-shadow: 0 0 5px rgba(black, 0.1);

    @include media("<desktop") {
      position: static;
      box-shadow: none;
      padding: 10px 0 5px;
    }

    li {
      margin: 0 0 8px;

      &:last-child {
        margin: 0;
      }
    }
    a {
      font-size: 16px;
      padding: 5px 0 0;
      display: inline-block;

      @include media("<desktop") {
        font-size: 14px;
        padding: 5px 0;
        color: #000;
      }
    }
  }

  .dropdown-menu.menu-slider {
    display: block;
    position: fixed;
    padding: 30px 8%;
    top: 124px;
    left: -3000vw;
    transform: translateX(-50%);
    max-width: 1440px;
    width: 100vw;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: none;

    @include media("<widescreen") {
      padding: 30px 60px;
      font-size: 14px;
    }

    @include media("<desktop") {
      display: none !important;
      position: static;
      padding: 10px 0 5px;
      transform: translate(0);
      min-width: 1px;
      width: auto;
      text-align: right;
    }

    &:before {
      content: "";
      position: absolute;
      background: $base-color-4;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;

      @include media("<desktop") {
        width: auto !important;
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 100vh;
      width: 100vw;
      background: #26232b;
      opacity: 0.7;

      @include media("<desktop") {
        display: none;
      }
    }

    li {
      margin: 0;
    }
    p {
      margin: 0;

      @include media("<desktop") {
        margin: 0 0 5px;
      }
    }

    .slick-slide {
      padding: 0 5px;

      a {
        &:hover {
          color: $base-color-1;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);

      &.slick-next {
        right: 20px;
        left: auto;
      }
    }
  }

  .img-menu {
    max-width: 80%;
    margin: 0 auto 10px;

    @include media("<desktop") {
      display: none;
    }
  }

  .menu-item.active {
    span {
      color: $base-color-1;
    }
  }
}

.nav-opener {
  position: relative;
  margin: 0 0 0 17px;
  display: none;
  z-index: 100;

  @include media("<desktop") {
    display: block;
  }

  &:before,
  &:after,
  & span {
    background: $black;
    border-radius: 4px;
    position: absolute;
    display: block !important;
    top: 19px;
    left: 22%;
    right: 22%;
    height: 1px;
    margin-top: -2px;
    transition: all 0.2s linear;
  }
  &:before,
  &:after {
    content: "";
    top: 13px;
  }
  &:after {
    top: 25px;
  }
  &:hover {
    opacity: 0.9;
  }
}

.nav-active {
  position: fixed;

  .header_menu_holder {
    right: 0;

    &:before {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: rgba(28, 25, 25, 0.4);

      @include media(">desktop") {
        display: none;
      }
    }
  }

  .header_contacts {
    border-color: transparent;
  }

  .nav-opener {
    background: $base-color-1;
    box-shadow: 0 0 10px 10px white;

    span {
      opacity: 0;
    }

    &:after,
    &:before {
      transform: rotate(45deg);
      top: 19px !important;
      left: 15%;
      right: 15%;
      background: #fff;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
