.latest-blog-posts {
  &__content__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include media("<desktop") {
      margin: 0 -10px;
    }

    .blog-article {
      width: 33.33%;
      padding: 15px;
      display: flex;

      @include media("<desktop") {
        padding: 10px;
        width: 50%;
      }

      @include media("<tablet") {
        width: 100%;
      }

      &-img-wrap {
        position: relative;
        padding: 0 0 55%;

        @include media("<phone") {
          padding: 0 0 65%;
        }

        &:before {
          content: "";
          position: absolute;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.21) 40.42%,
            rgba(0, 0, 0, 0.7) 100%
          );
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        padding: 10px 25px;
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;

        @include media("<phone") {
          padding: 15px;
        }

        i {
          font-size: 11px;
          margin-right: 7px;

          @include media("<phone") {
            font-size: 10px;
            margin-right: 4px;
          }
        }
      }
      &-views {
        margin-right: 30px;
      }

      &-text {
        padding: 20px 25px 25px;
        font-size: 20px;
        letter-spacing: 1px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include media("<widescreen") {
          font-size: 18px;
          line-height: 1.2;
        }

        @include media("<phone") {
          padding: 20px 15px;
          font-size: 16px;
        }

        a {
          font-size: 18px;
          font-weight: 700;
          color: $base-color-1;
          text-decoration: none;
        }
      }
    }

    .bg-holder {
      width: 100%;
      background: #fff;
      border: 1px solid #efefef;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.3s all;

      &:hover {
        border-color: #ccc;
      }
    }
  }
}
