.blog-section {
  padding: 25px 0 55px;

  .h1 {
    margin: 0 0 10px;
  }

  .slogan {
    font-size: 24px;
    font-weight: 700;
    color: $base-color-1;
    letter-spacing: 1px;
    margin: 0 0 35px;

    @include media("<desktop") {
      margin: 0 0 15px;
      font-size: 20px;
    }
  }

  .blog-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include media("<desktop") {
      margin: 0 -10px;
    }

    .item {
      padding: 15px;
      flex-grow: 1;

      @include media("<desktop") {
        padding: 10px;
      }

      @include media("<tablet") {
        width: 100%;
      }

      &.big {
        width: 50%;

        @include media("<tablet") {
          width: 100%;
        }

        article {
          padding: 0 0 110%;

          @include media("<tablet") {
            padding: 0 0 52.4%;
          }
        }

        .text {
          left: 11%;
          bottom: 40px;

          @include media("<desktop") {
            left: 30px;
            bottom: 20px;
          }

          @include media("<phone") {
            left: 15px;
          }
        }
      }
    }

    article {
      padding: 0 0 52.4%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
      overflow: hidden;

      @include media("<phone") {
        padding: 0 0 100% !important;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($black, 0.25);
        transition: 0.3s all;
      }

      &:hover {
        &:before {
          background: rgba($black, 0.5);
        }
      }
    }

    .article-holder {
      width: 50%;

      @include media("<tablet") {
        width: 100%;
      }
    }

    .text {
      position: absolute;
      left: 30px;
      max-width: 300px;
      bottom: 20px;
      color: #fff;
      font-size: 20px;

      @include media("<desktop") {
        font-size: 18px;
      }
      @include media("<phone") {
        left: 15px;
        bottom: 15px;
        max-width: none;
        right: 30px;
      }

      h4 {
        color: #fff;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1.2;
        margin: 0 0 1em;

        @include media("<desktop") {
          font-size: 18px;
        }
      }

      a {
        font-weight: bold;
        color: #fff;
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}
