.do-section {
  padding: 50px 0;

  @include media("<phone") {
    padding: 30px 0;
  }

  .h1 {
    margin: 0 0 30px;

    @include media("<phone") {
      margin: 0 0 20px;
    }
  }
}

.grid-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  grid-auto-rows: 286px;
  grid-auto-flow: dense;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #2c2c2c;

  @include media("<widescreen") {
    grid-gap: 10px;
  }

  @include media("<desktop") {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }

  @include media("<tablet") {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
  }
  @include media("<530px") {
    grid-template-columns: repeat(1, minmax(230px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 250px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: $base-color-4;
    padding: 28px;
    overflow: hidden;

    @include media("<desktop") {
      grid-column: span 1 !important;
      font-size: 16px !important;
      padding: 20px;
    }

    .img-frame {
      max-width: 90px;
      margin: 0 0 20px;

      @include media("<530px") {
        max-width: 80px;
      }
    }

    .btn {
      min-width: 200px;
    }

    &.right-img {
      .img-frame {
        margin-left: auto;
      }
    }

    &.reverse-column {
      flex-direction: column-reverse;
      justify-content: flex-start;

      p {
        max-width: 166px;
        margin: 0 0 30px;

        @include media("<530px") {
          max-width: none;
        }
      }

      .img-frame {
        margin: 0;
      }
    }
  }

  .bg-img {
    position: relative;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($black, 0.1);
      transition: 0.3s all;
    }

    > * {
      position: relative;
    }

    &.x2 {
      grid-column: span 2;
    }

    &.bottom-text {
      font-size: 20px;
      justify-content: flex-end;

      p {
        max-width: 390px;
        &:only-child {
          margin: 0;
        }
      }
    }
  }

  .tall {
    grid-row: span 2;
    justify-content: space-between;
    padding: 46px 0 0;

    @include media("<desktop") {
      padding: 20px 0 0;
    }

    @include media("<tablet") {
      grid-row: span 1;
    }

    p {
      margin: 0 28px;

      @include media("<desktop") {
        margin: 0 20px;
      }
    }
    .img-frame {
      max-width: 100%;

      @include media("<530px") {
        max-width: 200px;
      }
    }
  }

  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
