$breakpoints: (
  "xs-phone": 375px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

@import "base/variables";

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/animate";

@import "base/helpers";
@import "base/reset";
@import "base/cms-reset";
@import "base/forms";
@import "base/wp-reset";
@import "base/typography";
@import "base/fonts";
@import "base/buttons";
@import "base/lightbox";
@import "base/slick";

@import "sections/header";
@import "sections/footer";
@import "sections/aside";
@import "sections/visual-section";
@import "sections/app-section";
@import "sections/best-sellers";
@import "sections/product-section";
@import "sections/section-reviews";
@import "sections/partners-section";
@import "sections/blog-section";
@import "sections/pro-section";
@import "sections/director-section";
@import "sections/do-section";
@import "sections/device-section";
@import "sections/specifications-section";
@import "sections/3d_viewer";
@import "sections/latest-blog-posts";
@import "sections/single_page";

html,
body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  @include media("<desktop") {
    font-size: 14px;
  }

  @include media("<phone") {
    font-size: 13px;
  }
  &.admin-bar {
    margin-top: 40px;
  }
}

#wrapper {
  position: relative;
  flex-grow: 1;
  padding: 114px 0 30px;

  @include media("<desktop") {
    padding: 62px 0 15px;
    overflow: hidden;
  }
}

#wpadmminbar {
  padding-top: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 30px;

  @include media("<desktop") {
    padding: 0 20px;
  }
}

.social_list {
  @extend %listreset;
  display: flex;

  li {
    margin: 0 18px 0 0;
    display: flex;
    text-align: center;
  }

  a {
    width: 30px;
    height: 30px;
    background: #320b5a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none !important;
      background: rgba($white, 0.15);
    }
  }
}

.scroll {
  .btn-back {
    right: 15px;
  }
}

.btn-back {
  display: none;
  text-decoration: none;

  @include media("<tablet") {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 15px;
    right: -50px;
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 10;
    background: rgba(black, 0.5);
  }

  &:before {
    content: "\e910";
    font-family: "icomoon";
    font-size: 36px;
    margin-bottom: 3px;
    color: #fff;
  }
}

.price {
  font-size: 24px;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;

  del {
    color: #979797;
    margin-right: 20px;
    text-decoration: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 55%;
      transform: translateY(-50%);
      height: 1px;
      width: 100%;
      background: #979797;
    }
  }

  ins {
    text-decoration: none;
  }
}
